* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(https://st.deviantart.net/signinup/sisu_bg-min.png);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

/* --------------------- Header ------------------ */

@import url('./components/header/header.css');
@import url('./components/body/auth/login/login.css');
@import url('./components/body/auth/register/register.css');
@import url('./components/body/auth/forgotPassword/forgotPassword.css');
@import url('./components/body/auth/profile/profile.css');
@import url('./components/body/auth/editUser/editUser.css');