.forgot-password {
    padding: 50px 300px;
    color: #fff;
}

.forgot-password h2 {
    text-align: center;
    margin-bottom: 20px;
}

.forgot-password form input {
    margin-top: 10px;
    margin-bottom: 20px;
}

